/data/faces/ARCHIVE/img_celeba/
/python markdowns/Kmnist.ipynb
/python markdowns/multi layer perceptron.ipynb
/python markdowns/simulation_challenge_complete.ipynb
/python markdowns/face_small_ds_foldering .ipynb
/python markdowns/Dataloader custom.ipynb
